<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <h1 style="font-size: 0.5in;"><%= title %></h1>
      <p style="font-size: 0.2in;">This is <%= title %> Rest--Full API</p>
    </div>
  </body>
</html>
